# Data Science Core
pandas
numpy

# Data Visualization
matplotlib
seaborn

# Machine Learning
scikit-learn
joblib

# Google Cloud Storage
google-cloud-storage

# Kaggle Dataset Download
kagglehub

# Jupyter Notebook
jupyter
ipykernel
